*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Black Ops One', cursive;
    background-image: url('images/hero kickflip.png');
    background-size: cover;
     /* background-position: center; */
}
.header{
    width: 100%;
    height: 80px;
    /* background-color: #000; */
    display: flex;
    align-items: center;
}
.logo{
    width: 90px;
    height: 90%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    aliggn-items: center;
    text-align: right;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.nav ul li{
    color: #6d6c6c;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    font-weight: 300;
    margin: 0 20px;
}

.hero{
   
    height: 100%;
    /* width: 100%; */
    display: flex;

}

.right{
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.right img{
    width: 90%;
    height: 90%;
    /* margin-bottom: 20px; */
    /* object-fit: cover; */
    animation: up-down 3.3s infinite;
}
@keyframes up-down {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.row{
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 60px 0;
}

.row h2{
    color: #fff;
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
    margin: 0 20px;
    line-height: 1;
}

.row p{
    color: #fff;
    font-family: 'Raleway', cursive;
    font-size: 20px;
    font-weight: 300;
    margin: 80px 20px;
   
            /* color: white; */
            text-shadow:
                0 0 5px rgba(255, 255, 255, 0.8),
                0 0 10px rgba(255, 255, 255, 0.6),
                0 0 20px rgba(173, 216, 230, 0.5);
}


.hero .cta{
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    border: none;
    /* line-height: 1; */
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
}

.hero .cta:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s ease-out;
}


.icon-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.icon-card .card{
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon-card .card img{
    height: 100px;
    margin-top: 20px;
}

.icon-card .card h3{
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    margin: 20px 0;
}
.icon-card .card p{
    font-family: 'Raleway', cursive;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}

.icon-card .card:hover{
    transform: translateY(-20px);
    transition: 0.3s ease-in-out;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.footer p{
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 16px;
    color: black;
}

.footer p a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer p a:hover{
    color: #000;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}